PORT=8080
JWT_SECRET=healthsync-super-secret-key-change-in-production
NODE_ENV=development

PATIENT_SERVICE_URL=http://patient-service:3001
DOCTOR_SERVICE_URL=http://doctor-service:3002
APPOINTMENT_SERVICE_URL=http://appointment-service:3003
PRESCRIPTION_SERVICE_URL=http://prescription-service:3004
NOTIFICATION_SERVICE_URL=http://notification-service:3005
